.header {
  height: 320px;
  background-color: #998aea;
  width: 20%;
  float: left;
  margin-bottom: 10px;
  margin-right: 1%;
  color: white;
  font-size: 25px;
}

.main-content {
  height: 100px;
  width: 79%;
  float: right;
  margin-bottom: 10px;
  color: white;
}

.sub-content {
  height: 100px;
  width: 39%;
  float: right;
  margin-bottom: 10px;
  color: white;
}

.end-content {
  height: 100px;
  width: 20%;
  float: left;
  margin-bottom: 10px;
  margin-right: 1%;
  color: white;
}

.color-orchid {
  background-color: orchid;
}

.color-skyblue {
  background-color: skyblue;
}

.color-cornflowerblue {
  background-color: cornflowerblue;
}

.color-plum {
  background-color: plum;
  margin-right: 1%;
}

.color-indianred {
  background-color: indianred;
}

.color-hotpink {
  background-color: hotpink;
}

.color-midnightblue {
  background-color: midnightblue;
}

.image {
  object-position: "right";
}

.footer {
  clear: both;
}
